.skills-list{
  text-align: center;
}
.range-head{
  padding-top: 80px;
  background-color: #7FA9EA;
  height: 130px;
}
.tab-bar{
  background-color: #7FA9EA;
  text-align: center;
}
.stylelink-bar{
  color: white;
}
.stylelink-bar-click{
  color: blue;
}
.form-width{
  max-width: 100%;
}
.number-of-member{
  display: flex;
}
.icon{
  margin-left: 30px;
}
