.formStyleLabel{
  text-align: center;
}
.form-control-addform {
  margin: auto;
  max-width: 100%;
}
.form-control-select {
  margin: auto;
  max-width: 50%;
}
.containerModal{
  max-width: 100%;
}
.range{
  margin-top: 20px;
}
.rangeHead{
  padding-top: 80px;
  background-color: #7FA9EA;
  height: 130px;
}
.rangeSecond{
  display: flex;
}
.btnPre {
  height: 39px;
  color: white;
}
.btnDel {
  color: #7FA9EA;
}
.container-staffs{
  text-align: center;
}
.container-option{
  background-color: none;
}
